rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{subscriberId} {
      allow read, create: if true;
      allow update, delete: if false;
    }
    match /reservations/{reservationId} {
      allow read, create: if true;
      allow update, delete: if false;
    }
  }
}
